body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* HEADER STYLING */ 
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 0px 15% 30px 15%;
}

.header-text {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

.header-nav {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.header-link, .hero-description {
    font-size: 18px;
    color: #e5e7eb;
}

/* HERO STYLING */
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 30px 15% 90px 15%;
    gap: 48px;
}

.hero-text {
    width: 60%;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-header {
   font-size: 48px;
   font-weight: 900;
   color: #f9faf8; 
}

.sign-up-button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 900;
    padding: 8px 32px;
    border-radius: 8px;
    border-style: none;
    width: fit-content;
}

/* INFORMATION SECTION STYLING */
.information-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px 20% 60px 20%;
    gap: 30px;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.information-image-container {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
}

.information-item {
    flex: 1;
    text-align: center;
}

.information-description {
    font-size: 18px;
    color: #1f2937;
}


/* QUOTE SECTION STYLING */
.quote-container {
    background-color: #e5e7eb;
    padding: 30px 15% 90px 15%;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    padding: 60px 7.5% 30px 7.5%;
}

.quote-attribution {
    font-size: 24px;
    font-weight: 900;
    color: #1f2937;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 60px
}

/* CALL TO ACTION STYLING */

.action-container {
    padding: 60px 15% 60px 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-box {
    background-color: #3882f6;
    padding: 30px 15% 30px 15%;
    border-radius: 8px;
    flex: 1 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.action-main-text {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

.action-description {
    font-size: 14px;
    color: #f9faf8;
}

.sign-up-button-bordered {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 900;
    border-radius: 8px;
    padding: 0 32px;
    width: fit-content;
    border: 1px solid #e5e7eb;
}

/* FOOTER STYLING */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}

.footer-text {
    color: #e5e7eb;
    padding: 30px;
}